<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>

    <h1>Voici le potin n° <%=gossip.id.to_s%>!</h1>
    <table style="border: 1px solid black;">
      <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;"><strong>Gossip ID</strong></td>
        <td style="border: 1px solid black;"><strong>Author</strong></td>
        <td style="border: 1px solid black;"><strong>Content</strong></td>
        <td style="border: 1px solid black;"><strong>-</strong></td>
        <td style="border: 1px solid black;"><strong>-</strong></td>
      </tr>
      <tr>
        <td style="border: 1px solid black;"><%= gossip.id.to_s %></td>
        <td style="border: 1px solid black;"><%= gossip.author %></td>
        <td style="border: 1px solid black;"><%= gossip.content %></td>
        <td style="border: 1px solid black;"><a href="/gossips/edit/<%=gossip.id.to_s%>">Update</a></td>
        <td style="border: 1px solid black;"><a href="/gossips/delete/<%=gossip.id.to_s%>">Delete</a></td>
      </tr>
    </table>
    </br>
    <span>Pour revenir à la page d'accueil, clique donc <a href="/">ici</a>.</span>

  </body>
</html>